@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
}
.navbar {
    padding: 1.6rem 4rem;
    background-color: #1F4690;
    color: #fff;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.game-container{
    background-color: #1F4690;
    padding: 3rem 5rem;
    color:#fff;
    border-radius: 16px;
}
.score-container {
    margin: 20px 0;
    font-size: 1.8rem;
    text-align: center;
}
.score-container {
    margin: 10px 0;
}
.items{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    background-color: #fff;
    outline: 0;
    border: 0;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 30px;
}
.btn > i {
    font-size: 2rem;
}
.info-container{
    margin: 30px 0;
    font-size: 1.4rem;
    text-align: center;
}
.info-container > p {
    margin: 10px 0;
}
#result {
    margin: 30px 0;
}